.nav-container {
    display: flex;
    align-items: center;
    min-height: 20px;

    width: 50%;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;

}

.header-section {
    min-width: 1400px;
    margin: 0 auto;
    display: flex;

}

.nav-container img {
    width: 48px;
    height: 56.008px;
    object-fit: cover;
    min-height: 40px;


}

.nav-container p {
    font-size: 36px;
    padding-left: 16px;
}

.iteam-contaier {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;

}

.iteam-contaier a {
    text-decoration: none;
    list-style: none;
}

.main-part-1 {
    background-image: url(./Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1549px;
    height: 569px;
    margin-top: 20px;
    filter: brightness(70%);

}

.main-part-1-container h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    padding-top: 150px;

    font-family: Mulish;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.main-part-1-container p {
    color: #FFF;
    padding-top: 39px;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.main-part-1-container-2 {
    text-align: center;
    padding-top: 30px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 24px;

    width: 1299px;
    height: 131px;
    margin-left: 123px;
    margin-top: 50px;
}

input[type=text],
select {
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 16px 20px;
    border-radius: 8px;
    margin-bottom: 40px;
}

#icon {
    position: relative;
    left: 50px;
    bottom: 20px;

}

.btn {
    padding: 16px 34px 16px 67px;
    break-inside: 8px;
    border-radius: 8px;
    background: #FF5400;
    margin-bottom: 40px;
}